/* 
 __  __       _
|  \/  | __ _(_)_ __
| |\/| |/ _` | | '_ \
| |  | | (_| | | | | |
|_|  |_|\__,_|_|_| |_|

  ____             __ _                       _   _
 / ___|___  _ __  / _(_) __ _ _   _ _ __ __ _| |_(_) ___  _ __
| |   / _ \| '_ \| |_| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \
| |__| (_) | | | |  _| | (_| | |_| | | | (_| | |_| | (_) | | | |
 \____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|
                        |___/
	This files contains the main configuration for the pipeline focusing on parameters.
	To access other configuration settings managed by this file see includeConfig paths.

*/

includeConfig './configs/modules.nf'
includeConfig './configs/other.nf'
includeConfig './configs/resources.nf'


// =========================== PARAMETERS ========================
params {

//------------- MANDATORY PARAMETERS -------------
    id_list = null  // List of sample RSA IDs
    project_name = null // RSA project name
    ncbi_api_key = null  // Your NCBI API key
    output = "./output" // Output directory
    trimming = false // If true, carries out trimming


//------------- OPTIONAL PARAMETERS FOR TRIMMING -------------
    length_min = 15
	length_max = 100000
	quality = 20



}